<div class="container mt-3">
  <div class="text-center w-50 mx-auto py-5 pb-5">
    <h2 class="py-4">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group py-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control text-center", placeholder: "johndoe@example.com" %>
      </div>

      <div class="field form-group py-3">
          <label for="user_aadhaar">Aadhaar ID</label>
          <input class="form-control text-center" placeholder="1234 5678 6789" type="text" value="" name="aadhaar-id" id="user_aadhaar" pattern="[0-9]{12}" />
      </div>

      <div class="field form-group py-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control text-center", placeholder: "******"  %>
      </div>

      <div class="field  form-group py-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control text-center", placeholder: "******"  %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success w-100" %>
      </div>

    <% end %>
    <p class="my-4 pb-5">
      Already a User? <%= render "devise/shared/links" %>
    </p>
  </div>
</div>
