<%= render "components/notice" %>
<div class="container py-5">
  <%= link_to 'New Department', new_admin_department_path, :class=>'btn color-white btn-primary btn-sm'%>
  <% if @department %>
      <h1><%= @department.name %></h1>

        <%= link_to 'Edit', edit_admin_department_path(@department) %> |
        <%= link_to 'Back', admin_departments_path %>
        <% @department.feeds.each do |feed| %>
          <div class="list-group mp-x-0 row">
            <h4 class="list-group-item-heading col-md-12 color-blue"><%= truncate(feed.title, :length => 50) %></h4>
            <p class="list-group-item-text col-md-12 color-black"><%= truncate(feed.description, :length => 50) %></p>
            <p class="list-group-item-text color-grey col-md-6 color-grey">Department: <%=  link_to Department.find(feed.department_id).name, admin_show_feeds_path(feed.department_id) %></p>
            <p class="list-group-item-text color-grey col-md-6 color-grey">Posted on: <%= Time.at(feed.updated_at).strftime("%d-%m-%y %I:%M%P") %></p>
            <div class="mp-x-0 row">
              <strong class="list-group-item-text color-green col-md-6"><%=  link_to "EDIT", edit_admin_feed_path(feed) %></strong>
              <strong class="list-group-item-text color-red col-md-6"><%= link_to 'DELETE', admin_feed_path(feed), method: :delete, data: { confirm: 'Are you sure?' } %></strong>
            </div>
          </div>
        <% end %>
  <% else %>
    <h1>Listing Departments</h1>
        <div class="list-group mp-x-0 row">
        <% @departments.each do |department| %>
          <div class="list-group-item py-4 border-0">
            <%= link_to admin_department_path(department.id) do %>
              <h3 class="list-group-item-heading col-md-12 color-blue"><%=  truncate(department.name, :length => 50) %></h4>
            <%end%>
            <div class="mp-x-0 py-3">
              <strong class="list-group-item-text color-green col-md-6"><%=  link_to "EDIT", edit_admin_department_path(department) %></strong>
              <strong class="list-group-item-text color-red col-md-6"><%= link_to 'DELETE', admin_department_path(department), method: :delete, data: { confirm: 'Are you sure?' } %></strong>
            </div>
            <hr />
          </div>

        <% end %>
        </div>
  <% end %>
  <br>
</div>
