<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Department: </strong>
  <%=  link_to @feed.department_id, user_show_feeds_path(@feed.department_id) %>
</p>

<%= link_to ' << Feeds List ', user_feeds_path%>
