<p id="notice"><%= notice %></p>

<%= form_tag(department_user_feeds_path, method: "get", class:'form-group') do %>
  <div class="input-group">
     <%= text_field_tag :q, params[:q], placeholder: "Search.." , class:'form-control'%>
     <span class="input-group-btn">
       <%= submit_tag("Search",class:'btn btn-primary')%>
     </span>
   </div>
 </div>
<% end %>
<h2 class="text-center pb-5">Your Feeds</h2>
<% @feeds.each do |feed| %>
  <div class="list-group mp-x-0 row">
    <%= link_to user_feed_path(feed) do%>
      <h4 class="list-group-item-heading col-md-12 color-blue"><%= truncate(feed.title, :length => 50)%></h4>
      <p class="list-group-item-text col-md-12 color-black"><%= truncate(feed.description, :length => 50) %></p>
      <p class="list-group-item-text color-grey col-md-6">Department: <%=  Department.find(feed.department_id).name %></p>
      <p class="list-group-item-text color-grey col-md-6">Posted on: <%= Time.at(feed.updated_at).strftime("%d-%m-%y %I:%M%P") %></p>
      <hr />
    <%end%>
  </div>
<% end %>
