<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feed.description %>
</p>

<p>
  <strong>Department:</strong>
  <%= link_to admin_department_path(@feed.id)
# ,:action => "show_departments", 
# :id => admin_department_path(@feed.department.id) 
	%>
</p>

<%= link_to 'Edit', edit_admin_feed_path(@feed) %> |
<%= link_to ' << Feeds List ', admin_feeds_path%>
