<%= render "components/notice" %>
<div class="container py-5  mt-5">

  <%= link_to '<< Feeds List', admin_feeds_path, :class=>'btn btn-primary btn-sm'%>

    <h1 class="text-center color-blue"><strong><%= @feed.title %></strong></h1>
    <h5 class="text-center color-black"><%=  link_to Department.find(@feed.department_id).name, admin_show_feeds_path(@feed.department_id) %></h5>
    <div class="mp-x-0 text-center">
      <strong class="list-group-item-text color-white">
        <%=  link_to "Edit", edit_admin_feed_path(@feed),:class=>'btn btn-success' %>
      </strong>
      <strong class="list-group-item-text color-white">
        <%= link_to 'Delete', admin_feed_path(@feed), method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-danger' %>
      </strong>
    </div>
  <p class="mp-x-0 my-5">
    <%= @feed.description %>
  </p>
</div>
