<p id="notice"><%= notice %></p>

  <h1>Listing Departments</h1>
      <% @departments.each do |department| %>
        <div class="list-group mp-x-0 row">
          <%= link_to user_department_path(department.id) do %>
            <h4 class="list-group-item-heading col-md-12 color-blue"><%=  truncate(department.name, :length => 50) %></h4>
            <h5 class="list-group-item-heading col-md-12 color-black"> id :<%=  department.id %></h5>
          <%end%>
          <% if @department_user_ids.include?(department.id) %>
            <%= form_for @department, method: :post, url: department_user_unsubscribe_path  do |form| %>
              <%= form.text_field :id, value: department.id, type: "hidden" %>
              <%= form.submit "unsubcribe" %>
            <% end %>
          <% else %>
              <%= form_for @department, method: :post, url: department_user_subscribe_path  do |form| %>
                <%= form.text_field :id, value: department.id, type: "hidden" %>
                <%= form.submit "subcribe" %>
              <% end %>
          <% end %>
        </div>

      <% end %>


<br>
