<%= render "components/notice" %>
<div class="container py-5  mt-5">
  <% if @user %>
      <h1 class="color-blue text-center"><strong><%= @user.email %></strong></h1>
      <p class="list-group-item-text color-grey color-black text-center mp-x-0">user id: <%=  @user.id %></p>
      <p class="list-group-item-text color-grey col-md-6 color-grey text-center">sign in count: <%=  @user.sign_in_count %></p>
      <p class="list-group-item-text color-grey col-md-6 color-grey text-center">last sign in:<%= Time.at(@user.last_sign_in_at).strftime("%d-%m-%y %I:%M%P") %></p>
  <% elsif @users %>
    <h1>Listing users:</h1>
      <% @users.each do |user| %>
        <div class="list-group mp-x-0 py-3">
          <%=link_to admin_user_path(user) do%>
            <h5 class="list-group-item-heading col-md-12 color-dark"><%= user.email%></h5>
            <p class="list-group-item-text color-grey col-md-3 color-grey">user id: <%=  user.id %></p>
            <p class="list-group-item-text color-grey col-md-3 color-grey">sign in count: <%=  user.sign_in_count %></p>
            <p class="list-group-item-text color-grey col-md-3 color-grey">last sign in: <%= Time.at(user.last_sign_in_at).strftime("%d-%m-%y %I:%M%P") %></p>
            <p class="list-group-item-text color-grey col-md-3 color-grey">created in: <%= Time.at(user.created_at).strftime("%d-%m-%y %I:%M%P") %></p>
          <%end%>
        </div>
        <hr />
      <% end %>
  <% end %>
</div>
