<!DOCTYPE html>
<html lang="en">
<head>
  <title>Infotap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://use.fontawesome.com/releases/v5.0.1/js/all.js", 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-3">
      <div class="container">
        <%= link_to "InfoTap" , (user_signed_in?) ? department_user_feeds_path : root_path , :class => 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-2" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item active"><%= link_to current_admin.email , edit_admin_registration_path , :class => 'nav-link' %> </li>
              <li class="nav-item"><%= link_to "Feeds", admin_feeds_path, :class => 'nav-link'  %></li>
              <li class="nav-item"><%= link_to "Departments", admin_departments_path, :class => 'nav-link'  %></li>
              <li class="nav-item"><%= link_to "Users", admin_users_path, :class => 'nav-link'  %></li>
              <li class="nav-item"><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'nav-link'  %></li>
            <% else %>
              <% if user_signed_in? %>
                <li class="nav-item active"><%= link_to current_user.email , edit_user_registration_path , :class => 'active nav-link' %> </li>

                <li class="nav-item"><%= link_to "All Feeds", user_feeds_path, :class => 'nav-link'  %></li>
                <li class="nav-item"><%= link_to "Your Feeds", department_user_feeds_path, :class => 'nav-link'  %></li>
                <li class="nav-item"><%= link_to "Departments", user_departments_path, :class => 'nav-link'  %></li>
                <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></li>
                <%else%>
                  <li class="nav-item"><%= link_to "Sign in", new_user_session_path, :class => 'nav-link'  %></li>
                  <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
                  <li class="nav-item"><%= link_to "Admin", new_admin_session_path, :class => 'nav-link'  %></li>
                <%end%>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  <% if notice %>
  <div class="container ">
    <div class="container w-100 py-4 position-absolute">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-warning w-100 text-center" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>
  <%end %>
  <%= yield :top_content %>
      <%= yield :header %>

        <%= yield %>

  <footer class="footer bg-grey">
    <div class="container py-3">
      <span class="text-muted">&copy Allwin Williams 2018 - Sofware Lab</span>
    </div>
  </footer>
</body>
</html>
